.game-menu-item {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: #000;
    color: #fff;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;
    border: 2px solid #fff;
    overflow: hidden;
    font-size: 25px;
  }
  
  .game-menu-item.selected {
    background-color: rgb(240, 129, 3);
    color: white;
  }
  