.launcher-container {
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  padding-bottom: 30px;
  color:aliceblue;
}

.launcher-content {
  margin-top: auto;
  margin-bottom: 40px;
  font-size: 50px; 
}




