.playground-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .general-container_left {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    align-items: flex-start;
    height: 100vh;
    padding-top: 15px;
  }

  .side-menu-left {
    position: fixed;
    top: 50px;
    left: 0;
    width: 300px;
  }
  
  
  .buttons-list-menu {
    display: flex;
    flex-direction: column;
  }
  
  .game-menu-item {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: #e0e0e0;
    color: #333;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .game-menu-item.selected {
    background-color: #888;
    color: #fff;
  }
  
  .option-image {
    max-width: 300px; 
    max-height: 500px; 
  }
  
  .side-menu-right {
    position: fixed;
    top: 50px;
    right: 0;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .playground-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
  }
  
  .playground-button button {
    padding: 10px 20px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .playground-button button:hover {
    background-color: #cc0000;
  }
  
  
  
  